// Theme colors
$primary-color-light: #ffff59; 
$primary-color: #e6dd16;
$primary-color-dark: #b0ac00; 
$secondary-color-light: #6effff;
$secondary-color: #16e6dc;
$secondary-color-dark: #00b3aa;

$text-on-primary: #000000;
$text-on-secondary: #000000;